
@{
    ViewBag.Title = "Resume";
}



<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <h1>Resume</h1>
            <br />
            <a href="~/Content/documents/Quintin Dublin v1.pdf" target="_blank" class="btn btn-primary"  id="resumePDF">PDF Resume</a>
        </div>
        <br>
    </div>
    <!-- /container -->

    <section class="container" id="ResumeLeftSide">
        <br />
        <h3 id="qual">Summary Of Qualifications</h3>
        <article class="list1">
            <ul>
                <li>
                    Solid foundational knowledge of Windows Server 2012 R2, Windows 10 and Linux operating systems,Cisco IOS, and Hardware.
                </li>
                <li></li>
                <li>
                    High level of aptitude for Windows Network Infrastructure basics and PowerShell scripting.
                </li>
                <li>
                    Held a Secret Security Clearance
                </li>
            </ul>
        </article>
        <br />
        <br />
        <h3>CERTIFICATIONS</h3>
        <article>
            <h4>Comptia A+</h4>
            <h4>Comptia N+</h4>
            <h4>Comptia Sec+</h4>
            <br />
            <br />
        </article>
        <h3 id="skills">TECHNICAL AND SOFT SKILLS</h3>
        <article id="tech">
            <h4>IT Administration</h4>
            <p>PC and Server Hardware Configuration | Networking Fundamentals | TCP/IP | DHCP DNS Windows Server 2016 | Active Directory | Group Policy Management | File Permissions Windows 10 configuration | Hyper-V Virtualization | PowerShell 5.0 | Security Concepts Basic Cisco Devices | Office 365 (emphasis on Word and Excel) Team Player | Problem Solving | Quality Community and Customer Service Dedicated Employee | Professionalism </p>
            <h4>Development</h4>
            <p>
                HTML | JavaScript | jQuery | jQueryUI | CSS3 | Responsive/Mobile Web Development | Bootstrap, Visual Studio | C#.Net | ASP.Net | LINQ | MVC | EF | ADO.NET | SQL | SQL Server | SSMSE
            </p>
        </article>
        <br />
        <br />
        <h3 id="Exp">PROFESSIONAL IT EXPERIENCE</h3>
        <br />
        <article>
            <h4>Saint Luke's Hospital- Kansas City MO &nbsp;&nbsp;&nbsp;&nbsp; June 2019-January 2020</h4>
            <h5>Desktop Support Technical</h5>
            <ul class="list2">
                <li>Desktop and application support to the respective site.</li>
                <li>
                    Maintained sufficient inventories of computer room supplies and spare hardware for computer operations.
                </li>
                <li>
                    Maintained hard drive images for PC equipment assigned to the site.
                </li>
                <li>
                    Provided advice and assistance to end users on the effective utilization of desktop applications
                </li>
            </ul>
            <br />
            <h4>Saint Luke's Hospital- Kansas City MO &nbsp;&nbsp;&nbsp;&nbsp; January 2020-Present</h4>
            <h5>Solution Delivery Analyst</h5>
            <ul class="list2">
                <li>Indentify system data, hardware, or software components required to meet user needs.</li>
                <li>Communicate with staff or clients to understand specific system requirements.</li>
                <li>Test computer system operations to ensure proper functioning.</li>
                <li>Collaborate with others to determine design specifications or details</li>
            </ul>
            <br />
            <br />
        </article>
        <article>
            <h4>United State Army- Various Locations &nbsp;&nbsp;&nbsp;&nbsp; July 2007 - August 2014</h4>
            <h5>System Administrator</h5>
            <ul class="list3">
                <li>Setup and maintained a network database for over 2,000 service members. </li>
                <li>
                    Accountable for inventory, supplies, and communication equipment to include lab tops, desktops, satellite dish, Antenna’s, and radios of a net worth of over $200,000.
                </li>
                <li>
                    Troubleshot and repaired communications equipment.
                </li>
                <li>
                    Managed Active Directory and File Servers.
                </li>
                <li>
                    Configured TCP/IP.
                </li>
                <li>
                    Proficient in supporting Microsoft Outlook, PC imaging, troubleshooting and basic installations.
                </li>
                <li>
                    Performed signal support functions, including installing, operating, and maintaining select electronic devices.  Devices included versions of the Blue Force Tracker (BFT), designated radios, and data distribution systems.
                </li>
                <li>
                    Gained control of and secured over 62 user workstations throughout the company
                </li>
            </ul>
            <br />
            <br />
        </article>
        <h3 id="addPro">ADDITIONAL PROFESSIONAL EXPERIENCE</h3>
        <article>
            <h4>U-Haul- Washington &nbsp;&nbsp;&nbsp;&nbsp; Feburary 2015 - October 2016</h4>
            <h5>Assistant General Manager</h5>
            <ul class="list4">
                <li>
                    Assisted the General Manager by directing and motivating center personnel in order to meet objectives.
                </li>
                <li>
                    Continuously maintained good customer relations
                </li>
                <li>
                    Tracked maintenance for all vehicles, trailers, and storage units.
                </li>
            </ul>
            <br />
            <br />
        </article>
        <article>
            <h4>Securitas Security Service &nbsp;&nbsp;&nbsp;&nbsp; Feburary 2018 - October 2019</h4>
            <h5>Armed Mobile Officer</h5>
            <ul class="list5">
                <li>
                    Enforced the entry and identification system, which included operating security screening equipment to detect weapons, contraband, and prohibited items.
                </li>
                <li>
                    Performed customer service acts.
                </li>
                <li>
                    Performed mobile security.
                </li>
            </ul>
            <br />
            <br />
        </article>
        <h3 id="edu">Education</h3>
        <article>
            <h4>Centriq Training- Kansas City, MO &nbsp;&nbsp;&nbsp;&nbsp; Feburary 2019 - June 2019</h4>
            <h5>System & Security Administrator Program</h5>
            <ul class="list6">
                <li>
                    A solid foundation in computer hardware, networking fundamentals, including network design, network security, and network management.
                </li>
                <li>
                    The ability to create, configure, and trouble-shoot Microsoft Windows 10, Windows Server 2016, and Linux CentOS virtual machines using Microsoft Hyper-V.
                </li>
                <li>
                    Manage and secure domains using Active Directory, Group Policy, and Permissions, and provide risk management solutions and disaster recovery and planning.
                </li>
                <li>
                    Worked as a team to design, build, and implement a multi-domain mock company using physical Windows Server 2016 and Linux CentOS servers, and Cisco switches and routers for the infrastructure.
                </li>
            </ul>

            <br />
            <h4>Centriq Training- Kansas City, MO &nbsp;&nbsp;&nbsp;&nbsp; November 2020 - June 2020</h4>
            <h5>Full-Stack Web Developer Program</h5>
            <ul id="devList">
                <li>MVC Framework</li>
                <li>Trouble Shooting & Debugging</li>
                <li>Agile/Scrum (Created Team Project)</li>
                <li>Source Control</li>
                <li>Website Depolyment</li>
                <li>Pair Programming</li>
                <li>Code Review</li>

            </ul>
            <br />
            <br />
        </article>
        <h3>Awards</h3>
        <article>
            <ul class="list7">
                <li>Two-time recipient of the Army Achievement Award </li>
                <li>Two-time recipient of the Army Good Conduct Medal</li>
                <li>Two-time recipient of the Army Accommodation Medal</li>
            </ul>
        </article>
    </section>

    <!-- INTRO INFORMATIO-->
    <a href="https://www.linkedin.com/in/quintin-dublin" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 20px; height: 0"></i></a>

    <a href="mailto:qdublin2223@gmail.com" target="_blank"><i class="fa fa-envelope fa-xs" aria-hidden="true" style="font-size: 20px" id="mail"></i></a>
</div>